/*
Author : Marina Boudin
*/

html,body,h1,h2,h3,h4,h5,h6,button {
  font-family: "Roboto", sans-serif;
}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{
  display:block;
}
html,body{
  font-family:Verdana,sans-serif;
  font-size:15px;
  line-height:1.5;
}
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{
  overflow-x:hidden;
}
h1{
  font-size:36px;
}
h2{
  font-size:30px;
}
h3{
  font-size:24px;
}
h4{
  font-size:20px;
}
h5{
  font-size:18px;
}
h6{
  font-size:16px;
}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.w3-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}

body {
   color: #000;
   background-color: #f1f1f1;
   margin: 0;
   display: block;
 }
 ul {
   list-style-type: none;
   color:#fff;
   background-color:#009688;
   margin-top:0px;
   padding: 0;
   overflow: hidden;
   display: block;
 }
 li{
   float: left;
 }
 a{
   text-decoration: none;
   color: white;
   background-color: transparent;
   padding: 14px 16px;
   font-weight: bold;
   display: block;
 }
 li a:hover {
   color:#009688;
   background-color:#fff;
}
p{
  margin-block-start:1em;
  margin-block-end:1em;
  margin-inline-start:0px;
  margin-inline-end:0px;
}
img.photo {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
button{
  color:white;
  background-color: #009688;
  cursor:pointer;
  text-align: center;
  vertical-align: middle;
}
button:hover{
  color:#009688;
  background-color: white;
  border: solid #009688 2px;
}
hr{
  border-top: 1px solid #eee;
}
.box{
  color: #009688;
  box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
  margin-right: 5%;
  margin-left: 5%;
  padding-top: 1%;
  text-align: center;
  font-weight: bold;
  margin-bottom: 5%;
  margin-top: 1%;
}
.vidbox{
  color: #009688;
  box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
  margin-right: 20%;
  margin-left: 20%;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  font-weight: bold;
  margin-bottom: 5%;
  margin-top: 1%;
}
.bonbox{
  color: #009688;
  box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
  margin-right: 20%;
  margin-left: 20%;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  font-weight: bold;
  margin-bottom: 5%;
  margin-top: 1%;
}
.bonbox2{
  color: #009688;
  box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
  margin-right: 10%;
  margin-left: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  font-weight: bold;
  margin-bottom: 5%;
  margin-top: 1%;
}
.url{
  color: #009688;
}

.underbox{
  text-align: justify;
  font-weight: normal;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 1%;
}
